.header{
    height: 34vw;
    margin: 30px auto;
    background: url('header_img.jpg') ;
    background-size: cover;
    position: relative;
    border-radius:10px;
}
.header-contents{
   position:  absolute;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1.5vw;
   max-width: 50%;
   bottom: 10%;
   left: 6vw;
   animation : fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: rgb(227, 103, 103);
    font-size: max(4.5vw,22px);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.header-contents p{
    color: rgb(209, 205, 176);
    font-size:  2vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

    

@media (max-width: 1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 900px) { 
    .header-contents p{
       display: none;
    }
    
}
@media (max-width: 750px) { 
    .header-contents p{
       display: none;
    }
    
}